<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  
  
  
      <!--link rel="stylesheet" href="css/style.css"-->

  
</head>

<body>
  <body>
<div class="container">
	<section id="content">
		<form action="" method="POST" action="{% url 'django.contrib.auth.views.login' %}">                
			<h1>Login Form</h1>
			{% csrf_token %}
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />				
			</div>
			 {% if form.errors %}
                    <p class=" label label-danger">
                        Your username or password is incorrect. Please try again.
                    </p>
            {% endif %}
		</form><!-- form -->		
	</section><!-- content -->
</div><!-- container -->
</body>
  
    <script src="js/index.js"></script>

</body>
</html>
